<div style="display: flex;">
  <h1>Toppings</h1>
  <%= link_to 'New Topping', new_topping_path, class: 'btn btn-primary', style: 'margin: 10px;', role: 'button' %>
</div>
<%= render partial: 'list' %>
