<div>
  <%= render partial: 'pizzas/list', layout: false %>
</div>
<div>
  <%= link_to 'Pizzas', pizzas_path, class: 'btn btn-primary btn-lg', role: 'button' %>
  <%= link_to 'Toppings', toppings_path, class: 'btn btn-primary btn-lg', role: 'button' %>
</div>
